DATOCMS_API_URL=https://graphql.datocms.com
DATOCMS_API_KEY=
MAILJET_API_URL=https://api.mailjet.com/v3.1
MAILJET_API_KEY=
MAILJET_API_SECRET=
CLOUDFLARE_TURNSTILE_KEY=
CLOUDFLARE_TURNSTILE_SECRET=
POSTHOG_HOST=https://eu.posthog.com
POSTHOG_API_KEY=
API_AUTH_TOKEN=
